* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container {
    background-color: rgb(240,250,255);
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.color1 {
    background-color: #fcf4f0;
}

.image-item .imageL {
    width: auto;
    height: 475px;
}

.image-item .imageS {
    width: auto;
    height: 575px;
}

.image-label {
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 24px;
}