* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container {
    background-color: rgb(240,250,255);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-box {
    background-color: rgb(225,243,251);
    border-radius: 25px;
    width: 30%;
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    margin: 60px;
}

.mission {
    margin: 60px;
}

.contact {
    margin: 0 60px 60px;
}

.content-box h1 {
    color: #89CFF0;
    font-size: 40px;
    margin-bottom: 15px;
}

.content-box p {
    font-size: 18px;
}